*.bkp
.vscode/
node_modules/
vscode-extension/dist/
vscode-extension/result
dist-newstyle/
cabal.project.local
cabal-repl-bios/

#ghci leftovers
*.o
*.hi
*.gbc

# Stack-related
.stack-work
*.yaml.lock

# custom caches
.hdb-cache
