on: [push, workflow_call]

name: Debugger CI
jobs:
  build-vscode-extension:
    name: Build VSCode Extension
    runs-on: ubuntu-latest # or macOS-latest, or windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build extension
        run: |
          cd vscode-extension/
          nix-build

      - name: Upload extension artifact
        uses: actions/upload-artifact@v4
        with:
          name: Haskell Debugger Extension
          path: vscode-extension/result/haskell-debugger-extension*.vsix

  sdist-haskell-debugger:
    name: Sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: haskell-actions/setup@v2

      - name: Package hdb
        run: cabal sdist

      - name: Upload haskell-debugger source distribution
        uses: actions/upload-artifact@v4
        with:
          name: Haskell Debugger Source Distribution
          path: dist-newstyle/sdist/haskell-debugger*.tar.gz

  # Building and testing are done on the distributed sdist: not on the full git repo.
  build-n-test-haskell-debugger:
    name: Build and Test
    needs: sdist-haskell-debugger
    runs-on: ubuntu-latest
    continue-on-error: true # Run all jobs in the matrix to the end
    strategy:
      matrix:
        version: [9.14.0.20250819] #, latest-nightly] disable nightly while its broken
        include:
          # - channel: https://ghc.gitlab.haskell.org/ghcup-metadata/ghcup-nightlies-0.0.7.yaml
          #   version: latest-nightly
          - channel: https://raw.githubusercontent.com/haskell/ghcup-metadata/refs/heads/develop/ghcup-prereleases-0.0.9.yaml
            version: 9.14.0.20250819
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.version }}
          cabal-version: 3.14
          ghcup-release-channel: ${{ matrix.channel }}

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Download hdb source dist
        uses: actions/download-artifact@v4
        with:
          name: Haskell Debugger Source Distribution
          path: ${{ runner.temp }}/dist

      - name: Build and Run integration tests
        run: |
          (cd ${{ runner.temp }}/dist && tar xzf *.tar.gz && rm *.tar.gz && cd haskell-debugger-* && cabal build exe:hdb --enable-executable-dynamic --allow-newer=ghc-bignum,containers,time,ghc,base,template-haskell)
          export DEBUGGER=$(cd ${{ runner.temp }}/dist/haskell-debugger-* && cabal list-bin exe:hdb --enable-executable-dynamic --allow-newer=ghc-bignum,containers,time,ghc,base,template-haskell)
          echo "DEBUGGER: $DEBUGGER"
          cd test/integration-tests/
          make clean
          make node_modules
          make test

