name: Release pipeline

on:
  push:
    tags:
      - "v*"

  workflow_dispatch:
    inputs:
      draft:
        description: "Create a draft release (unchecked: full release)"
        required: true
        default: true
        type: boolean

permissions:
  contents: write

jobs:
  build-haskell-debugger:
    uses: ./.github/workflows/debugger.yaml
    # Build and Test using the haskell-debugger sdist and haskell-debugger-view
    # from hackage. This requires that haskell-debugger-view on hackage be
    # compatible with the version being released.
    with:
      use-haskell-debugger-view-from-hackage: true
      is-release: true

  docs-haskell-debugger:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: haskell-actions/setup@v2
        with:
          ghc-version: 9.14.1
          cabal-version: 3.14
          ghcup-release-channel: https://raw.githubusercontent.com/haskell/ghcup-metadata/refs/heads/develop/ghcup-prereleases-0.0.9.yaml

      - name: Build docs for haskell-debugger
        run: cabal haddock --haddock-for-hackage --enable-documentation

      - name: Upload haskell-debugger docs
        uses: actions/upload-artifact@v4
        with:
          name: Haskell Debugger Docs
          path: dist-newstyle/haskell-debugger*docs.tar.gz

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build-haskell-debugger, docs-haskell-debugger]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/download-artifact@v4
        with:
          name: Haskell Debugger Extension
          path: ${{ runner.temp }}/extension/

      - uses: actions/download-artifact@v4
        with:
          name: Haskell Debugger Source Distribution
          path: ${{ runner.temp }}/packages/

      - uses: actions/download-artifact@v4
        with:
          name: Haskell Debugger Docs
          path: ${{ runner.temp }}/docs/

      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ runner.temp }}/extension/haskell-debugger-extension-0.11.0.vsix

      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
          registryUrl: https://open-vsx.org
          extensionFile: ${{ runner.temp }}/extension/haskell-debugger-extension-0.11.0.vsix

      - name: Hackage Release
        uses: haskell-actions/hackage-publish@v1
        with:
          hackageToken: ${{ secrets.HACKAGE_AUTH_TOKEN }}
          packagesPath: ${{ runner.temp }}/packages
          docsPath: ${{ runner.temp }}/docs
          publish: ${{ github.event_name == 'workflow_dispatch' && inputs.draft == true && 'false' || 'true' }}

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          draft: ${{ github.event_name == 'workflow_dispatch' && inputs.draft == true }}
          files: ${{ runner.temp }}/extension/*.vsix
          fail_on_unmatched_files: true
          generate_release_notes: true

